<ul class="e-list">
<div class="e-container-fluid {{site.primary_color}} p-3 text-bold">
        Contributors
    </div>
    <li class="e-list-item">
        <div class="e-media">
            <img class="mr-3 circle" src="https://efrolicss.com/assets/images/post/profile/profile-3.jpeg" style="max-width:65px;">
            <div class="e-media-body">
                <div class="between mb-3">
                    <h5 class="no-my text-{{site.primary_color}}">Efrain Peralta <small class="text-normal text-gray">@EfraaX</small></h5>
                    <a class="no-m text-gray"><i class="fab fa-github-alt"></i></a>
                    <a href="#" class="no-m w-100 text-gray">efra.com · <i class="fas fa-globe-americas"></i></a>
                </div>
            </div>
        </div>
    </li>
    <li class="e-list-item">
        <div class="e-media">
            <img class="mr-3 circle" src="https://efrolicss.com/assets/images/post/profile/profile-3.jpeg" style="max-width:65px;">
            <div class="e-media-body">
                <div class="between mb-3">
                    <h5 class="no-my text-{{site.primary_color}}">Mery Ortiz <small class="text-normal text-gray">@Meryy</small></h5>
                    <a class="no-m text-gray"><i class="fab fa-github-alt"></i></a>
                    <a href="#" class="no-m w-100 text-gray">mery.com · <i class="fas fa-globe-americas"></i></a>
                </div>
            </div>
        </div>
    </li>
    <!-- List item x3 -->
</ul>