<main class="e-face e-md-screen {{site.second_color}}">
    <nav class="e-nav no-bg">
        <img src="https://bit.ly/2D7yayE" style="width:90px;height:auto;">
        <label for="e-menu" class="e-btn transparent no-desktop"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="e-menu">
        <div class="e-menu">
            <i class="e-distribution"></i>
            <a href="{{site.url}}" class=" e-btn anime {{site.primary_color}}">Home</a>
        </div>
    </nav>

    <!-- Body -->
    <section class="face-body centered">
        <div class="e-container-fluid">
            <h4 class="mb-3">Components</h4>
            <div class="e-cols">
                <div class="e-col e-alert px-3 {{site.primary_color}}">
                    <input type="text" placeholder="Search..." class="e-control">
                </div>
                <div id="results-container"></div>
            </div>
        </div>
    </section>
</main>